doctype html
html(lang = 'en')
  head

    title
      block title

    block metatags
      meta(charset='utf-8')    
      meta(http-equiv="X-UA-Compatible", content="IE=edge")     
      meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='css/vendor.css')
    link(rel='stylesheet' href='css/app.css')

  body
    <!--[if lt IE 7]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    block content
     
  script(src='js/vendor.js')
  script(src='js/app.js')